.form-group-cls.invalid .form-control {
  border-color: #f33a58;
}

.form-group-cls.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}
